body {
  font-family: 'Open Sans', cursive;
}

header {
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.nav {
  position: relative;
  width: 100%;
  padding: 25px;
}

.navbar {
  background-color: transparent !important;
  width: 100%;
}

.navbar-brand {
  font-family: 'Yeseva One', cursive;
  color: #FFFFC5 !important;
  padding: 25px;
}

.header-menu {
  margin-right: 30px;
}

.header-menu ul li a {
  margin-right: 25px;
}

a {
  color: white;
  transition: .3s;
}

a:hover {
  color: #FFFFC5;
}

.nav-link {
  color: #FFFFC5 !important;
}

.active-link-nav {
  color: #FFFFC5 !important;
  font-weight: 700;
}

h1 {
  color: #232323;
  font-family: 'Yeseva One', cursive;
  font-size: 34px !important;
  font-weight: 700 !important;
}

.subtitle {
  color: #232323;
  font-weight: 700 !important;
  font-family: 'Open Sans', cursive;
}

.violet-buttons {
  background-color: #5D435A !important;
  border: none !important;
  color: #FFFFC5 !important;
  padding: 5px 20px !important;
  font-weight: 600 !important;
}

.violet-buttons:hover {
  background-color: #FFFFC5;
  border: none;
  color: #383838;
  padding: 5px 20px;
  font-weight: 600;
}

.yellow-buttons {
  background-color: #FFFFC5!important;
  border: 1px solid #FFFFC5 !important;
  color: #5D435A !important;
  padding: 5px 20px !important;
  font-weight: 600 !important;
  transition: .5s;
}

.yellow-buttons:hover {
  background-color: transparent !important;
  border: 1px solid #FFFFC5 !important;
  color: #FFFFC5 !important;
  padding: 5px 20px;
  font-weight: 600;
}

.yellow-buttons:focus {
  background-color: transparent !important;
box-shadow: none !important;
color: #FFFFC5 !important;
}

.home {
  min-height: 100vh;
  padding: 100px 25px;
  overflow-x: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../RostroMostro/img/bg-rm.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: hidden;
  display: flex;
  align-items: center;
}

.row-height {
  min-height: 400px;
}

.home h4 {
  color: #232323;
  text-align: left;
  font-family: 'Yeseva One', cursive;
  margin: 20px 0px;
  font-size: 21px;
  font-weight: 700;
}
.cartel {
  background-color: #FFFFC5;
  color: #232323;
  font-size: 15px;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -40px;
  margin-right: 30px;
  font-weight: 500;
}

/* ABOUT */

.about {
  background-image: url('../../RostroMostro/img/bg-rm.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 25px;
}

.about a {
  color: #232323;
}
.about p {
  color: #232323;
  font-size: 15px;
}

.about h2 {
  color: #5D435A;
  text-align: left;
  font-family: 'Yeseva One', cursive;
  margin-bottom: 20px;
}

.rostro-gif {
  width: 75%;
}

/* AUDIOS */

.audios {
  background-image: url('../../Audios/img/bg-audios.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 25px;
}

.card {
  padding: 0  !important;
  border: none !important;
}

.card-body {
  background-color: transparent !important;
  border: none !important;
  padding: 0  !important;
}
.card-body a{
  background-color: transparent !important;
  font-size: 14px;
  font-weight: 300;
  padding:6px 0px;
}

/* FOOTER */

footer {
  background-color: #232323;
  min-height: 280px;
  background-image: url('../img/bg-footer.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 30px 0px;
}

footer h6 {
  color: #FFFFC5;
  text-align: left;
  font-family: 'Yeseva One', cursive;
  margin: 20px 0px;
}

.licencia {
  color: white;
  font-size: 12px;
  margin: 10px 0px;
}

@media screen and (max-width: 525px) {
  h1 {
    font-size: 24px !important;
  }
  .home h4 {
    font-size: 18px;
  }
  .nav-link {
    padding: 5px !important;
  }
  .nav {
    padding: 20px 10px;
  }
  .navbar-brand {
    padding: 20px 10px;
  }
  .subtitle {
    margin-bottom: 0 !important;
  }
  .cartel {
    background-color: #FFFFC5;
    color: #232323;
    font-size: 13px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0px;
   margin-right: 0px;
    font-weight: 500;
    height: 65px;
}
}

@media screen and (max-width: 480px) {
  .text-container::before {
    display: none;
  }
}