.e41919 {
    background-color: transparent !important;
    font-family: 'Yeseva One', cursive !important;
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cad308 {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', cursive !important;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    min-height: 48px;
    padding: 0 6px 0 0;
    color: white !important;
}

.cad308._3c8845, .cad308:hover {
    background-color: #FFFFC5 !important;
    color: #383838 !important;
}