.gif1, .gif2, .gif3, .gif4, .gif5 {
  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height:100%;
}

.gif1 {
    background-image: url(../assets/gif1.gif);
}
/* .gif1:hover{
    background-image: url(../assets/gifpause1.png);
} */
.gif2{
    background-image: url(../assets/gif2.gif);
}
/* .gif2:hover{
    background-image: url(../assets/gifpause2.png);
} */
.gif3{
    background-image: url(../assets/gif3.gif);
}
.gif4{
    background-image: url(../assets/gif4.gif);
}
.gif5{
    background-image: url(../assets/gif5.gif);
}
/* .gif3:hover{
    background-image: url(../assets/gifpause3.png);
} */


.image-hover-text-container 
{
  position: relative;
  display: inline-block;
width: auto;
  height: auto;
  transition: all 0.2s linear;
}

.image-hover-image 
{
 display: block;
}
/* Make the image round */
.image-hover-image img
{
  border-radius: 50%;

  height: 200px;
}



.image-hover-text 
{
  position: absolute;
  top: 0;
  width: 100%;  
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  cursor: default;
  transition: opacity 0.2s linear;
}
.image-hover-text:hover 
{
  opacity: 1;
}


.image-hover-text-bubble 
{
  position: relative;
  box-sizing: border-box;
  top: 0; left: 0; right: 100%;
  height:auto;
  text-align: center;
  background: transparent;
  margin: 0 auto;
  padding: 25% 8px 5px 8px;
  overflow: hidden;
  font-size: 17px;
  text-align: center;
  word-wrap: break-word;
}

.image-hover-text .image-hover-text-title
{
  display: block;
}

.playicon, .pauseicon {
  font-size: 36px;
}
.playicon {
  color: #232323;
}
.pauseicon {
  color: #232323;
}

.owl-prev, .owl-next {
  border: none;
  background: none;
  font-size: 36px;
  color: #232323;
}
.owl-prev:focus, .owl-next:focus {
  outline: none;
}

.owl-navs {
  margin-top: -50px;
  margin-left: 55px;
  position: absolute;
  z-index: 10;
}


@media screen and (max-width: 525px) {


} 
