.drag-wrapper {
  cursor: move;
  padding: 50px;
  text-align: center;
  /* margin: 0 auto;
  margin-top: 0px; */
  width: auto;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.drag-wrapper2 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper3 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper4 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper5 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper6 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper7 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper8 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper9 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper10 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper11 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper12 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper13 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper14 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper15 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper16 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper17 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper18 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper19 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper20 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper21 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper22 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper23 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper24 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper25 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper26 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper27 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.drag-wrapper28 {
  width: 200px;
  cursor: move;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 525px) {
  .drag-wrapper img {
    max-width: 120px;
  }
  .drag-zone {
    position: relative;
    min-height: 500px;
  }
  .drag-wrapper {
    bottom: 15%;
  }
}